
overlays = 1
# overlay0_overlay omitted. We don't need to splat an overlay across the screen.
#overlay0_rect = "0.35,0.35,0.65,0.65" # Place overlay somewhere.
overlay0_rect="0,0,1,1"
overlay0_full_screen = true

# These set defaults across the entire overlay. They can be overridden per-desc with overlayN_descM_alpha_mod = foo, etc.
#overlay0_alpha_mod = 1.0 # If we press a button desc, it will have twice the alpha.
#overlay0_range_mod = 1.0 # If we press a button desc, the hitbox range will be 1.5x the size until it's released.
overlay0_normalized = true # Descriptor coordinates use normalized coordinates [0, 1] instead of pixels.
#overlay0_rect="0,0,1,1"
overlay0_descs = 2
overlay0_desc0_overlay = /usr/lib/libretro/retroarch/background_cfg/CRTV_left_3_4.png
overlay0_desc1_overlay = /usr/lib/libretro/retroarch/background_cfg/CRTV_right_3_4.png

overlay0_desc0 = "nul,0.141,0.50,rect,0.141,0.5"
overlay0_desc1 = "nul,0.859,0.50,rect,0.141,0.5"
